議事録要約.yml
app:
  description: "AI\u3092\u4F7F\u3063\u3066\u8B70\u4E8B\u9332\u3092\u8981\u7D04\u3059\
    \u308B\u3002\u8B70\u4E8B\u9332\u306F\u6587\u5B57\u5217\u3067\u53D7\u3051\u53D6\
    \u308B\u3002"
  icon: "\U0001F916"
  icon_background: '#FFEAD5'
  mode: advanced-chat
  name: "\u8B70\u4E8B\u9332\u8981\u7D04"
kind: app
version: 0.1.0
workflow:
  environment_variables: []
  features:
    file_upload:
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1722822219824-source-1722847706872-target
      source: '1722822219824'
      sourceHandle: source
      target: '1722847706872'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: answer
      id: 1722847706872-source-answer-target
      source: '1722847706872'
      sourceHandle: source
      target: answer
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: ''
        selected: false
        title: "\u958B\u59CB"
        type: start
        variables: []
      height: 52
      id: '1722822219824'
      position:
        x: 30
        y: 252.5
      positionAbsolute:
        x: 30
        y: 252.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        answer: '{{#llm.text#}}'
        desc: ''
        selected: false
        title: "\u56DE\u7B54"
        type: answer
        variables: []
      height: 105
      id: answer
      position:
        x: 636
        y: 252.5
      positionAbsolute:
        x: 636
        y: 252.5
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: ''
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: gemma2:2b
          provider: ollama
        prompt_template:
        - id: b0fb169b-8347-46f1-a8a9-275f993aa29e
          role: system
          text: "\u5FC5\u305A\u65E5\u672C\u8A9E\u3067\u56DE\u7B54\u3057\u3066\u304F\
            \u3060\u3055\u3044"
        - id: 82612427-5953-4c9d-9882-368aec454237
          role: user
          text: "\u8B70\u4E8B\u9332\u3092\u6574\u7406\u3057\u3066\u30011\u30DA\u30FC\
            \u30B8\u306E\u30A4\u30F3\u30D5\u30A9\u30B0\u30E9\u30D5\u30A3\u30C3\u30AF\
            \u306B\u307E\u3068\u3081\u3066\u304F\u3060\u3055\u3044\u3002\n\n### \u8B70\
            \u4E8B\u9332\n{{#sys.query#}}"
        selected: true
        title: LLM
        type: llm
        variables: []
        vision:
          enabled: false
      height: 96
      id: '1722847706872'
      position:
        x: 333
        y: 252.5
      positionAbsolute:
        x: 333
        y: 252.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 243
    viewport:
      x: -45.87176056298631
      y: 85.9289069889146
      zoom: 1.0216360596250638
